.article-container{
    display: flex;
    flex-direction: row;
}

.article{
    background: #042C54;
    height: 100%;
    width: 100%;
}

.article-img{
    height: 100%;
    width: 100%;
}
/* 
@media screen and (max-width:780px) {
    .article{
    }
} */