.feature-1 {
    margin-top: 10rem;
    flex: 1 1;
}

.feature-1>div,
.possibility>div {
    /* width: 50%; */
    text-align: start;
}

.feature-1>div:last-child,
.possibility>div:last-child {
    flex-direction: column;
    /* width: 60%; */
}

.feature-heading p,
.possibility-body-p2 {
    width: 70%;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin-top: 0;
}

.feature-heading p:last-child,
.feature-body,
.possibility-body-p1,
.possibility-body-p4 {
    font-size: 20px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #81AFDD;
}

.feature-sub {
    justify-content: space-between;
}

.feature-sub p:first-child {
    width: 30%;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    padding-top: 2%;
    border-top: 2px solid;
    border-bottom: 0;
}

.feature-sub p:last-child {
    width: 50%;
}

@media screen and (max-width: 650px) {
    .feature-heading p {
     width: auto;
    }

    .feature-1 {
        flex-direction: column;
    }

    .feature-sub {
        flex-direction: column;
    }

    .feature-sub p {
        width: auto;
    }
}