.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.nav-li {
    font-size: 1.3rem;
    font-weight: 500;
    font-style: normal;
    line-height: 25px;
    gap: 1.3rem;
    margin-left: 10rem;
}

.logo {
    font-size: 1.8rem;
}

.sign-bar {
    display: flex;
    gap: 7%;
    width: 20%;
    align-items: center;
}

.sign-btn {
    background: #FF4820;
    border: 0;
    border-radius: 9px;
    font-size: 1rem;
    padding: 7%;
}

.icon {
    font-size: 2.3rem;
    background: transparent;
    border: 0;
}

@media (max-width: 860px) {
    .sidenav-li {
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        text-align: end;
        background: #031b34;
        padding: 2rem;
        position: absolute;
        right: 0;
        top: 40px;
        margin-top: 1rem;
        min-width: 210px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }

    .nav-li,
    .sign-bar {
        display: none;
    }

    .sign-bar-menu {
        flex-direction: column;
        gap: 1rem;
        width: 50%;
    }
}