#root {
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.d-flex{
  display: flex;
}

.d-none{
  display: none;
}

li{
  list-style: none;

}

.base-margin {
  margin: 4rem 2rem;
}

.base-padding {
  padding: 2rem;
}

.text-color {
  background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.color-border {
  border-bottom: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
}